In [ ]:
m = 0
x = 1
while x < 4:
    y = 1
    while y < 5:   
        m = m + y
        y = y + 1
        if x + y == 5:
            break
    x = x + 1
print (m)

In [ ]:
m = 0
x = 10
while x > 8:
    for y in range(1,3):
        m = m + 1
    x = x - 1
print(m)

In [ ]:
m = 0
my_str_1 = "university"
my_str_2 = "mississipy"
for char_1 in my_str_1:
    for char_2 in my_str_2:
        if char_1 == char_2:
            m = m + 1
print(m)

1) Write a program that finds the Fibonacci series for a given number.
<br> A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8.... The first two terms are 0 and 1. All other terms are obtained by adding the preceding two terms. This means to say the nth term is the sum of (n-1)th and (n-2)th term
<br> for example the Fibonacci sequence up to 10 is: 0 1 1 2 3 5 8 13 21 34

2) write a program to compute the prime factors of a given number.
+ for example if you enter 10, it prints out 2 and 5

3) Write a Python program to construct the following pattern:


 \* <br>
 \* \* <br>
 \* \* \* <br>
 \* \* \* \* <br>
 \* \* \* \* \* <br>
 \* \* \* \* <br>
 \* \* \* <br>
 \* \* <br>
 \*<br>

4) Write a Python program to construct the following pattern:<br>

1 2 3 4 5 <br>
1 2 3 4 <br>
1 2 3 <br>
1 2 <br>
1 <br>

5) Write a Python program to construct the following pattern:<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\* <br>
&nbsp;&nbsp;&nbsp;&nbsp;\* \* <br>
&nbsp;&nbsp;&nbsp;\* \* \* <br>
&nbsp;&nbsp;\* \* \* \* <br>
&nbsp;\* \* \* \* \* <br>
\* \* \* \* \* \* <br>

6) Write a program that finds the maximum number in this list:
+ my_list = [1, 5, 8, 9, 11, 14, 19, 12]

7) write a program to repeat each item in the list 6 times:<br>

My_list = ["hello", "world", "Aug", 2021]<br>

The output should be like this:<br>

hello hello hello hello hello hello <br>
world world world world world world <br>
Aug Aug Aug Aug Aug Aug <br>
2021 2021 2021 2021 2021 2021 <br>

8) write a program that multiply the items of list_1 to the items of list_2 when the two items are not equal.<br>
for example if the list_1 and list_2 were like this:<br>
List_1 = [3, 9, 7]<br>
List_2 = [2, 3, 9]<br>

The output should be like this<br>

3 * 2 =  6<br>
3 * 9 =  27<br>
9 * 2 =  18<br>
9 * 3 =  27<br>
7 * 2 =  14<br>
7 * 3 =  21<br>
7 * 9 =  63<br>

you should use these two lists for your assignments:<br>
List_1 = [2, 5, 6, 7, 9]<br>
List_2 = [2, 3, 5, 7, 6]<br>