1) Write a function that takes a string containing the alphabetic characters as the input argument and returns True if it is a Palindrome string. A Palindrome is a string whose letters are the same from beginning to end and vice versa. Note that uppercase and lowercase letters do not matter here, for example: a lowercase character can be thought of as a uppercase character.<br>
For Example : madam

In [76]:
def palindrome(x1):
    
    x1=x1.lower()
    x2=''
    
    Palindrome = False
    lengthx1 = len(x1)
        
    for i in range(lengthx1-1,-1,-1):
        x2=x2+x1[i]
    
    if x1 == x2:
        Palindrome = True

    print(Palindrome)

In [77]:
palindrome('radar')

True

In [78]:
palindrome('okey')

False

2) Write a function that returns the total number of vowels in an input string that contain alphabetic characters. Note that uppercase and lowercase letters do not matter here. For this problem, vowels A, E, I, O, U are considered.

In [79]:
def vowels(String):
    c=0
    
    String=String.upper()
    
    for i in String:
        if i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U':
            
            c+=1
            
    print('The total number of vowels:',c)

In [80]:
vowels('Happy Birthday')

The total number of vowels: 3

3) Write a function that takes a string and a character as input and returns the number of times the character is repeated in the string. Note that uppercase and lowercase letters do not matter here

In [81]:
def Character(ST,CH):
    
    c=0
    CH=CH.lower()
    ST=ST.lower()
    
    
    for i in ST:
        if i == CH:
            c+=1

    print('Character',CH,'is repeated in this string',c,'time/times')

In [82]:
Character('Happy Birthday, Good Work','r')

Character r is repeated in this string 2 time/times

4) Write a function that takes a string and a character as input and returns the total number of words in the string that start with a given character.
<br>For Example:<br>
String = "Ali is a doctor who works in the american hospital"<br>
character = a<br>
output = 3  # ali, a, american

In [83]:
def words(ST,CH):
    c=0
    w=''
    CH = CH.lower()
    ST = ST.lower()
    ST = ST.split()
  

    for i in ST:
        if i[0] == CH:
            c += 1
            w = w + i + ','
            
    print('The words are: ',w)

In [84]:
ST1 = "Ali is a doctor who works in the american hospital"
C1 = 'a'

words(ST1,C1)

The words are:  ali,a,american,

5) Write a function that takes a string containing alphabetic characters as the input argument and returns the most frequent character. Ignore whitespace i.e. do not count any whitespace as a character. Note that one lowercase character equals one uppercase character.

In [85]:
def counting_char(ST):
    
    c=0
    ST=ST.replace(' ','')
    ST=ST.lower()
    M_R=''
    
    for i in ST:
        B = ST.count(i)
        
        if B==c:
            c = B
            if i not in M_R:
                M_R = i
        
        if B>c:
            c = B
            M_R = i
    
    print(M_R,',', c,'times')

In [86]:
ST2='I am a Biomedical Engineering Student at Pasargad Univrsity'

counting_char(ST2)

i , 7 times

6) Write a function that receives an input string and reverses the input string. Keep in mind that inversion must be done for each character individually. 
<br>For Example:<br>
input string is = "Hello Wolrd. I Am Learning Python"<br>
output= 'NOHTYp GNINRAEl Ma i .DRLOw OLLEh'<br>

In [87]:
def reverse_string(ST):
    A=''
    for i in range(len(ST)-1,-1,-1):
        A = A + ST[i]
    return A

In [88]:
ST = "Hello Wolrd. I Am Learning Python"
reverse_string(ST)

'nohtyP gninraeL mA I .drloW olleH'

7) Write a function that receives a string of words containing alphabetic characters separated by spaces and returns a string in which each word is inverted from the input string while maintaining the order of the words in the input string. The length of the input string must be equal to the length of the output string. For example: there should be no extra sequences or more space in your output string.
<br>For Example :<br>
Input string = "I am learning Python"<br>
Output = 'I ma gninrael nohtyP'<br>

In [98]:
def reverse_string(ST):
    A=''
    ST = ST.split()
   
    for word in ST:
        for i in range(len(word)-1,-1,-1):
            A = A+word[i]
        A = A+' '
    return A.strip()

In [99]:
ST3 = "I am learning Python"
reverse_string(ST3)

'I ma gninrael nohtyP'

8) Write a function that accepts an input string and removes all the leading whitespace of the string and
returns it without using .strip().

In [100]:
def strip(ST):
    A=''
    for i in range(len(ST)):
        if ST[i] != ' ':
            A = A + ST[i]
    return A

In [101]:
ST4 = "                               Matlab      "
strip(ST4)

'Matlab'

9) Write a function that takes two strings as input arguments and returns the following values:
• Return zero if the two strings exactly match.
• If two strings are the same length and do not match in only one character, return 1.
• If two strings are not the same length or do not match in two or more characters, return 2.
Uppercase letters are considered as lowercase letters. Here are some examples:

|String1 | String2 |output|
| --- | --- | --- |
|Python | Julia| 2|
|Hello World	|   hellooWorld  |    1|
|door | dor | 2 |
|Lion | lion | 0|

In [102]:
def similar(ST1,ST2):
    
    ST1 = ST1.lower()
    ST2 = ST2.lower()
#1    
    if ST1 == ST2:
        return 0
#2

    elif len(ST1) == len(ST2):
        A=0
               
        for i in range(len(ST1)):
            if ST1[i] != ST2[i]:
                A+=1
                    
        if A == 1:
            return 1
        else:
            return 2
        
#3
    elif len(ST1) != len(ST2):
        return 2

In [103]:
ST5_1='katy perry'
ST5_2='KATY PERRY'

similar(ST5_1,ST5_2)

0

In [104]:
ST5_1='Julia'
ST5_2='Python'

similar(ST5_1,ST5_2)

2

In [105]:
ST5_1 = 'Hello World'
ST5_2 = 'hellooWorld'

similar(ST5_1,ST5_2)

1

10) Write a function that takes two strings as parameters, and returns True if the two strings have the same family, otherwise returns False. Two strings are family if one string can be created exactly by rearranging the characters in the other string. For example, the "Orchestra" and "Carthorse" strings are family because each can be created exactly by rearranging the characters in the other. Note that capitalization is not important here.

In [106]:
def fam(ST1,ST2):
    
    ST1 = ST1.lower()
    ST2 = ST2.lower()
    new_str=''
   
    F = False
    
    if len(ST1) == len(ST2):
        for x in ST1:
            for z in ST2:
                if x==z:
                    if ST1.count(x)==ST2.count(z):
                        ST1=ST1.replace(x,'')
                                           
    if ST1=='':
        F=True
                
    return F

In [107]:
ST6_11 = 'Pythonp'
ST6_22 = 'Nohtypp'


fam(ST6_11,ST6_22)

(True, '')

In [108]:
ST6_111 = 'Ghazll'
ST6_222 = 'Ghazal'

fam(ST6_111,ST6_222)

(False, 'all')